@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7367f0;
}

.container {
    height: 400px;
    min-width: 400px;
    display: flex;
    align-items: flex-end;
}
.icon-image {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.25);
}
.icon-image .icon img {
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #7367f0;
}

.hover-image {
    position: absolute;
    height: 350px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s, z-index 0s, left 0.5s ease;
    transition-delay: 0s, 0.5s, 0.5s;
    pointer-events:  none;
}

.icon-image:hover .hover-image{
    left: -200px;
    z-index: 12;
    transform:  translateX(60px);
    transition: left 0.5s, z-index 0s, transform 0.5s;
    transition-delay: 0s, 0.5s, 0.5s;
}

.hover-image .image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 25px;
}

.hover-image .content {
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    padding: 0 10px;
}

.content::before{
    content:'';
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: -1px;
    transform:  translateX(-50%) rotate(45deg);
    z-index: -1;
}

.content .details {
    position: relative;
    text-transform: capitalize;
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform:  translateY(10px);
}
.icon-image:hover .details{
    transition: all 0.4s ease;
    transition-delay: 0.9s;
    opacity: 1;
    transform: translateY(4px);
    pointer-events: auto;
} 


.content .details::before {
    content:'';
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: -10px;
    transform:  translateX(-50%) rotate(45deg);
    z-index: -1;
}

.details .address {
    font-size: 20px;
    font-weight: 700;
}
.details .description{
    font-size: 17px;
    color: #7367f0;
    margin: -3px 0 5px 0;
}